/* Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

/* CSS variables Color Palette*/ 
:root {
    --background-color: #121212;  /* Dark Charcoal Black , Background, base layout*/
    --primary-color: #1f1f1f;  /* Rich Gunmetal Gray, Cards, sections, nav background*/
    --ascent-color: #FF3C38; /*Vivid Crimson Red Buttons, hover elements*/
    --highlight-color:#B4FF00; /* Neon Lime Green, Sale tags, promo badges, icons*/
    --interactive-color: #00CFFD; /*Electric Blue, Hover states, links, icons*/
    --text-color-light: #F5F5F5; /*Soft White, main body text*/
    --text-color-muted: #A0A0A0; /*Steel Gray, Subtext, secondary labels*/
}
body {
    color: var(--text-color-light);
    background-color: var(--background-color);
}
h1,h2,h3 {
    font-family: "Orbitron", sans-serif;
    color: var(--text-color-light);
}
h3 {
    text-align: center;
}
#games p, #success p, #selltrade-form, #about p {
    font-family: "Exo 2", sans-serif;
    font-size: 1.1rem;
}
#games a {
    font-family: "Exo 2", sans-serif;
    font-size: 1.1rem;
    color: var(--interactive-color);
}

#logo:hover {
    text-shadow: 1px 1px 2px black, 0 0 25px var(--interactive-color), 0 0 5px var(--highlight-color);
}

#games a:hover {
    font-family: "Exo 2", sans-serif;
    font-size: 1.1rem;
    color: var(--highlight-color);
}

#games .card-body {
    background-color: var(--primary-color);
    color: var(--text-color-light);
}
.card-img-top {
    height: 268px;
}

.card {
    border: none;
    width: 300px;

}
/*submit button*/
.costume-button {
    color: var(--interactive-color);
    background-color: var(--primary-color);
    font-family: "Exo 2", sans-serif;
}
.costume-button:hover {
    color: var(--highlight-color);
    background-color: var(--background-color);
}
/*carousel */


/*nav bar*/

#navbar {
    background-color: var(--primary-color);
    
}
#navbar a {
    color: var(--text-color-light);
    font-family:"Chakra Petch", sans-serif;
}
.navbar-toggler {
    background-color: var(--background-color);
}
#navbar li  a:hover {
    background-color: var(--interactive-color);
}
.active {
    text-decoration: underline;
}
.section {
    padding-top: 4rem; /* prevent top overlap heading section*/
}
/*header*/
#header {
    padding-top: 61px;
}

#header img {
    max-height: 100vh;
}


/*footer*/

#contact {
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

#contact .social-links i {
    color: var(--interactive-color);
    font-size: 1.8rem;
    margin-right: 10px;
}

#contact .social-links i:hover {
    color: var(--highlight-color);
}

/* media queries */

/* Medium device tablet  768px and up  */
@media screen and (min-width:768px){
    /* Make all games card same height for consistency*/
    .card-img-top {
    height: 300px;
    }
    #games .container {
        max-width: 700px;
    }
}
    /* carousel  responsive */


/*  Large device  992px and up  */
@media screen and (min-width:992px) {
    #games .container {
        max-width: 800px;
    }
    .card {
        width: auto;
    }
}

/*  Large device  1200px and up  */
@media screen and (min-width:1200px) {
    
}

/*  Large device  1400px and up  */
@media screen and (min-width:1400px) {
    
}