/* Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

/* CSS variables Color Palette*/ 
:root {
    --background-color: #121212;  /* Dark Charcoal Black , Background, base layout*/
    --primary-color: #1f1f1f;  /* Rich Gunmetal Gray, Cards, sections, nav background*/
    --ascent-color: #FF3C38; /*Vivid Crimson Red Buttons, hover elements*/
    --highlight-color:#B4FF00; /* Neon Lime Green, Sale tags, promo badges, icons*/
    --interactive-color: #00CFFD; /*Electric Blue, Hover states, links, icons*/
    --text-color-light: #F5F5F5; /*Soft White, main body text*/
    --text-color-muted: #A0A0A0; /*Steel Gray, Subtext, secondary labels*/
}
body {
    color: var(--text-color-light);
    background-color: var(--background-color);
}
h1,h2 {
    font-family: "Orbitron", sans-serif;
    color: var(--text-color-light);
}
p *{
    font-family: "Exo 2" sans-serif;
}
/*nav bar*/

#navbar {
    background-color: var(--primary-color);
    
}
#navbar a {
    color: var(--text-color-light);
    font-family:"Chakra Petch", sans-serif;
}
.navbar-toggler {
    background-color: var(--background-color);
}
#navbar li  a:hover {
    background-color: var(--interactive-color);
}
.active {
    text-decoration: underline;
}
.section {
    padding-top: 4rem; /* prevent top overlap heading section*/
}
/*header*/
#header {
    padding-top: 80px;
}
/*footer*/

#contact {
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

#contact .social-links i {
    color: var(--interactive-color);
    font-size: 1.8rem;
    margin-right: 10px;
}

#contact .social-links i:hover {
    color: var(--highlight-color);
}
